@import url('https://googleapis.com');

/* Global */
html { 
    background-color: #212856; 
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: white;
    font-family: 'Lexend', sans-serif;
    overscroll-behavior: none;
}

/* Sections */
#welcomeSection, #authenticationSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    gap: 4px;
}

#authenticationSection { 
    background-color: #212856; 
}

#dashboardSection {
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    display: flex;
    align-items: flex-start;
    background-color: #212856;
}

.landingPageHeader {
    background-color: #212856;
    width: 100%;
}

header {
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.bodyContainer {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    gap: 3rem;
    margin: auto;
    font-weight: 800;
}

#missionStatement, .enterPortal {
    flex: 1;
    width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    padding: 20px 32px;
    font-size: 18px;
}

#missionStatement { 
    text-align: left; 
}

.enterPortal { 
    flex-direction: column; 
}

.diagnosticContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Buttons */
#enterPortalButton, #login, #startPracticeReading, #startPracticeMath, #signup {
    width: 200px;
    padding: 15px 6px;
    font-size: 18px;
    background-color: #3BBAAB;
    border: none;
    border-radius: 9999px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

#enterPortalButton:active, #login:active { 
    background-color: #2F9589; 
}

#startPracticeReading, #startPracticeMath {
    background-color: #7B5CD0;
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
}

#startPracticeReading:active, #startPracticeMath:active { 
    background-color: #5C459C; 
}

#startDiagnostic {
    width: 200px;
    padding: 15px 6px;
    font-size: 18px;
    background-color: #3BBAAB;
    border: none;
    border-radius: 9999px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    height: 100vh;
    width: 250px;
    padding: 10px;  
    flex-shrink: 0;
    position: fixed;
}

.sidebar h1 { 
    padding: 10px; 
    color: #212856; 
}

.mainTabs {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    gap: 1px;
}

.mainTabs .menuButton:nth-child(4) { 
    margin-top: 320px; 
}

.menuButton {
    color: #212856;
    background: none;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 16px;
    margin: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuButton:hover { 
    background-color: #E3DCF5; 
    color: #7B5CD0; 
}

/* Dashboard */
.dashboardContainer {
    background-color: #EFEFEF;
    width: 1300px;
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    padding: 20px; 
    min-height: 100vh;
}

.welcomeUserContainer {
    background-color: #7B5CD0;
    border: 1px solid #EFEFEF;
    border-radius: 20px;
    padding: 15px;
    color: white;
    margin: 25px;
}

#quickInfoContainer, #tasksInfo {
    margin: 25px;
    color: #212856;
}

#quickInfoContainer {
    border: 1px solid white;
    border-radius: 20px;
    padding: 15px;
    background-color: white;
}

/* .domainMasteryContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
} */

.startPracticeContainer {
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 25px;
    padding: 15px;
    color: #212856;
    display: grid;
}

.startPracticeCard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: start;
    border: 1px solid #c4b0f9;
    border-radius: 20px;
    margin: 5px;
    gap: 10px;
    padding: 10px 20px;
    background-color: #E3DCF5;
}

.startPracticeCard div {
    width: 100%;
    text-align: left; 
}

#logout {
    position: absolute;
    right: 20px;
    top: 14px;
    color: white;
    border: none;
    width: 150px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3BBAAB;
    border-radius: 9999px;
    font-weight: 800;
    cursor: pointer;
}

#logout:active { 
    background-color: #2F9589; 
}

/* Extra */
#timeCounter {
    margin-left: 0;
}

.highlightWord { 
    color: #1BA599; 
}

.underlineWord { 
    text-decoration: underline; 
    text-decoration-color: #7B5CD0; 
}

.question-box {
    border: 2px solid #333;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}

.hidden {
    display: none !important; 
}